.unanswered-card {
  /* text-align:center; */
  /* font-family:'Courier New', Courier, monospace; */
  /* font-size: 40px; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  /* padding-right:50px; */
  /* padding-left:50px; */
  /* background: rgb(109, 111, 226); */
  border-radius: 20px;
  display: inline-block;
  height: 150px;
  position: relative;
  width: 180px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.unanswered-card-img{
  height:150px;
  width: 180px;
  position: center;
}
.answered-card-img{
  height:150px;
  width: 180px;
  position: center;
}
.answered-card{
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  background: rgb(151, 151, 163);
  border-radius: 20px;
  display: inline-block;
  height: 150px;
  position: relative;
  width: 180px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.gameboard {
  display:inline-block;
  /* padding-left: 585px; */
  padding-left: 30%
}

/* #wonModal{
  background-color: #fefefe;
  text-align:center;
  margin-top: 100px  auto; /* 15% from the top and centered */
  /* margin-left: 30%;
  margin-right: 30%; */
  /* padding-left: 30%;
  padding-bottom: 60%; */
  /* border: 1px solid #888;
  width: auto;
  height: 200px; */
/* } */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.info{
  /* padding-left:30%; */
  text-align:center;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align:center;
  margin-top: 200px; /* 15% from the top and centered */
  margin-left: 30%;
  margin-right: 30%;
  /* padding-left: 30%;
  padding-bottom: 60%; */
  border: 1px solid #888;
  width: auto;
  height: 200px; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-div{
  text-align: center;
  background-color: white;
  width: 300px;
  border: 1px solid rgb(111, 0, 255);
  padding: 50px;
  margin-top: 400px;
  margin-left: 625px;
}


.submit {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: rgb(76, 116, 175);
  color: white;
}

.choice{
  width: 100%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.choice:hover {
  background-color: rgb(23, 185, 63);
  color: white;
}

.body{
  background-clip: url('');
}
#high-scores {
  background:black;
  height: 600px;
  width: 500px;
  margin-left: 450px;
  /* border: 10px solid rgb(0, 0, 0); */

}

#user-name {
  color: red;
  border: 1px solid rgb(253, 253, 253);
  padding: 5px;
}

#user-score {
  color: red;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
}

.header {
  color: red;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
}

